@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #fff;
	margin: 3em 0em;
}

/* ================== container ================== */

.list_container {
	display: none;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
	display: none;
}

.container_show {
	width: 90%;
	max-width: 25em;
	margin: 3px;
	padding: 1em 2em;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: #f4f4f4;
	border-radius: .7em;
}

.plus_color {
	color: #2fc714;
}
.minus_color {
	color: #d30b0b;
}
.money::after {
	content: '￦';
}

/* ================== main container ================== */

.main_container > h1 {
	font-size: 1.5em;
	margin: .5em;
}

.main_container .balance {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: .5em;
}

.main_container .balance h4 {
	color: #00000066;
}
.main_container .balance h2 {
	color: #107098
}

.main_container .count_div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border-radius: .7em;
	border: 1px solid #00000026;
}

.main_container .count_div .count_box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: .2em 2.8em;
	margin: .8em 0em;
}
.main_container .count_div .count_box:first-child{
	border-right: 1px solid #00000032;
}
.main_container .count_div .count_box h2{
	font-size: .9em;
	color: #838383;
}
.main_container .count_div .count_box h1{
	font-size: 1em;
}

/* ================== list container ================== */

.list_container .list_select {
	position: relative;
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	padding-bottom: .2em;
	margin-bottom: .3em;
	border-bottom: 1px solid #00000022;
}

.list_container .list_select h3{
	font-size: 1em;
	font-weight: 500;
	margin-right: .55em;
	color: #00000042;
	cursor: pointer;
}

.list_container .list_select .selected{
	color: #000;
	transition: color ease-in-out .3s;
}

.expense_list {
	width: 100%;
	margin: .5em;
}

.expense_list li{
	display: inline-block;
	width: 100%;
	list-style: none;
}

.list_item {
	position: relative;
	display: flex;
	width: 100%;
}

.list_item button {
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	font-size: .85em;

	position: absolute;
	top: 50%;
	right: 5px;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.list_item .item_content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;

	border-radius: .5em;
	border: 1px solid #00000022;

	width: 100%;
	padding: .5em 1em;
	z-index: 2;
	transition: transform ease-in-out .3s;
}

.list_item .item_content .content_text h5{
	color: #838383;
	font-weight: 400;
	font-size: .7em;
}
.list_item .item_content .content_text h3{
	font-size: .85em;
	font-weight: 600;
}

.list_item:hover > .item_content {
	transform: translateX(-47px);
}

.new_list {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 3.7em;
	color: #107098;
	border: 1px dashed #107098;
	border-radius: .5em;
	background-color: #ffffff;
}

/* ================== add container ================== */

.add_container {
	align-items: center;
}

.add_container > h3 {
	width: 100%;
	font-size: 1em;
	font-weight: 500;
	padding-bottom: .2em;
	padding-top: .5em;
}

.add_container > h3:first-child {
	font-size: 1.1em;
	font-weight: 600;
	margin-bottom: .3em;
	border-bottom: 1px solid #00000026;
}

.add_container input {
	outline: none;
	border: 1px solid #00000026;
	text-align: center;
	padding: .5em;
	border-radius: .5em;
	width: 99%;
	margin-bottom: .1em;
	font-size: .8em;
}

.add_container input[type="radio"] {
	display: none;
}

.add_container .date_input {
	display: flex;
	flex-direction: row;
}

.add_container .date_input input{
	margin: .1em;
	width: 33%;
}

.add_container .expense_type {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: .2em;
}

.add_container .expense_type label {
	padding: .5em;
	width: 49%;
	margin: .1em;
	text-align: center;
	border: 1px solid #00000026;
	border-radius: .5em;
	font-size: .8em;
	background-color: #fff;
	transition: background-color ease-in-out .2s ;
}

.add_container .expense_type input:checked + label {
	background-color: #107098;
	color: white;
}

.add_container button {
	width: 99%;
	border: none;
	padding: .6em;
	font-size: .8em;
	border-radius: .5em;
	background: none;
	margin: .1em;
}

.add_container .submit {
	background-color: #107098;
	color: #fff;
	margin-top: 1.5em;
}
